#root {
  height: 100vh;
  display: flex;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.isActiveC {
  display: inline-table;
  float: right;
  padding-left: 10px;
}
.isActiveCurrent {
  font-size: 50%;
}
.isActiveDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 30%;
  padding-left: 0%;
  padding-top: 2%;


  width: 15vw;
}

.outerDiv {
  display: flex;
}


.isActiveDiv span {
  width: 100%;
}

.isActiveDescription {
  font-size: 50%;
}
.isActiveMinMax {
  font-size: 50%;
}
.isActiveTime {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #fff;
  margin: 0 !important;
  width: 100%;

}
.isStandbyTime {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  margin: 0 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.isActiveWeather {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  margin: 0 !important;
  padding-bottom: 10%;
  display: flex;

}
.isStandbyWeather {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  margin: 0 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.isStandbyDiv {
  display: flex;
  align-items: right;
  flex-direction: column-reverse;
  width: 300px;
  padding-bottom: 20%;
}
.newsContainer {
  width: 100%;
  /*height: 30vh;*/
  z-index: -50;
  overflow: hidden;
}
#newsTitle {
  background-color: black;
  z-index: 1;
}
.newsList {
  margin: 0;
}
.newsAnimation {
  animation: crawl 18s linear infinite;
  /*animation-delay: 2s;*/
  height: 30vh;
  padding-top: 2%;
}
.newsListArticles {
  overflow: hidden;
}
.newsListItem {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 100%;
  padding-top: 2%;
  padding-left: 0.1%;
}

.remindersListItem {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 120%;
  padding-top: 2%;
  padding-left: 0.1%;
  color: #fff;
  white-space: nowrap;
  /*overflow: hidden;*/
  /*animation: type 4s steps(60, end);*/
}


.timeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widgetsActive {
  float: right;
  height: 100%;
  width: 30vw;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.5%;
}

.widgetsStandby {
  display: none;
}

/* RADIO STYLING */
*, *:before, *:after {
  box-sizing: border-box;
}


body{
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}
.controlDiv {

}
.response{
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 175%;
  padding-top: 2%;
  padding-left: 0.1%;
  width: 100%;
}
.responseDiv {
  width: 53vw;
  display: flex;
  justify-content: center;
  margin-left: 2vw;
  padding-top: 0%;
}
.scotch_music{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.remindersListItem {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 120%;
  padding-top: 1%;
  padding-left: 0.1%;
  color: #fff;
  white-space: nowrap;
  /*overflow: hidden;*/
  animation: type 4s steps(60, end);
}
.uberDiv {
  z-index: 4;
  padding: 2%;
  margin: 20;
}
.uberText {
  background-color: black;
}
/*.uberType {
  margin: 30;
  color: white;
}*/
.uberOptions {
  /* start amanda additions */
  /* end amanda additions */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 150%;
  padding-top: 1%;
  padding-left: 0.1%;
  color: #fff;
  white-space: nowrap;
  padding-top: 2%;
  margin: 20;
  /*animation: type 4s steps(60, end);*/
  font-size: 130%;
  display: inline-block;
  flex-direction: column-reverse;
}

.search div, .search input {
  width: 100%;
}

.search input {
  border: none;
  border-bottom: 2px solid rgb(243, 139, 114);
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.details h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 0;
  color: white;
}

.player{
  text-align: center;
  margin-top: 5px;
}

.player div{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


.player .player__backward button, .player .player__forward button{
  background: transparent;
  border: 0px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 25%;
  height: 25%;
  border-radius: 100%;
  font-size: 100%;
  outline: none;
}

.player .player__backward button{
  border-left: none;
}

.player .player__forward button{
  border-right: none;
}

.player .player__main button:hover, .player .player__backward button:hover, .player .player__forward button:hover{
  color: rgba(243, 139, 114, 0.7);
  border: 0px solid rgba(243, 139, 114, 0.7);
}

.player .player__main {
  border: 0px solid rgb(255, 255, 255);
}

.player .player__main button {
  color: rgb(255, 255, 255);
  background: transparent;
  width: 25%;
  height: 25%;
  border: none;
  font-size: 100%;
  outline: none;
  padding-right: 15px;
}

.progress{
  text-align: center;
  margin-top: 10px;
  color: white;
}

.progress progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 50%;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.progress progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress progress[value]::-webkit-progress-value {
  background-color: rgb(243, 139, 114);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*.slide-fade li {
transition: all 0.4s ease-out;
opacity: 0;
}
.slide-fade li.show {
opacity: 1;
}*/

li {
  color: #fff;
  margin: 0;
  width: 95%;
}


.footer{
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #524C4C;
}

.footer p{
  text-align: center;
}

.footer .logo{
  height: 25px;
  width: auto;
}
.footer .soundcloud{
  height: 25px;
  width: auto;
}
/* END RADIO STYLING */
/* ANIMATION STYLING */

/* END ANIMATION STYLING */
h1, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #4f4f4f;
  margin: 0px;
  padding-top: 1%
}
h2 {
  font-family: 'Alegreya';
  font-size: 20px;
  color: #4f4f4f;
  margin-left: 30px;
}
p {
  color: #fff;
  font-family: 'Courier'
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  /*width: 30em;*/
  /*animation: type 1s steps(20, end);*/
}

a {
  font-family: 'Lato';
  font-size: 15px;
  color: #4f4f4f;
  margin-left: 25px;
  text-decoration: none;
  padding: 0 !important;
  margin: 0 !important;
}

p:nth-child(2){
  animation: type2 5s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}
ol {
  margin: 0;
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.icon {
  font-size: 25px;
  color: #b2b2b2;
  margin-right: 15px;
}

/* amanda's added styles */
.right {
  text-align: right;
  padding-right: 3%;
}
@keyframes crawl {
  0% {
    transform: rotateX(20deg) translateZ(-800px);
  }
  100% {
    transform: rotateX(25deg) translateZ(+3100px);
  }
}
.widget {
  border: 0.5px dotted white;
  border-radius: 0.5em;
  padding: 1vw;
}

#one {
  flex: 1;
  font-size: 95px;
  margin-bottom: 0;
  margin-top: -5vh;
  padding-left: 1vw;

  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-name: one;
}
@keyframes one {
  0% { color: white; }
  33% { color: #4b4b4b; }
  66% { color: white; }
  100% { color: white; }
}
